[2022-05-31 12:05] github-actions[bot] opened #1556 "Update substrate/polkadot/cumulus from v0.9.20 to v0.9.22"
# Description

This ticket is automatically generated using

[code]

## substrate (2022-04-29 -> 2022-05-18)

https://github.com/paritytech/substrate/compare/polkadot-v0.9.20...polkadot-v0.9.22
[code]

## polkadot (2022-05-02 -> 2022-05-18)

https://github.com/paritytech/polkadot/compare/release-v0.9.20...release-v0.9.22
[code]

## cumulus (2022-05-04 -> 2022-05-23)

https://github.com/paritytech/

[2022-05-31 12:11] github-actions[bot] opened #1557 "Update substrate/polkadot/cumulus from v0.9.20 to v0.9.22"
# Description

This ticket is automatically generated using

[code]

## substrate (2022-04-29 -> 2022-05-18)

https://github.com/paritytech/substrate/compare/polkadot-v0.9.20...polkadot-v0.9.22
[code]

## polkadot (2022-05-02 -> 2022-05-18)

https://github.com/paritytech/polkadot/compare/release-v0.9.20...release-v0.9.22
[code]

## cumulus (2022-05-04 -> 2022-05-23)

https://github.com/paritytech/

[2022-06-02 01:16] crystalin commented on #1505
This is fixed in RT1600 per #1515

[2022-06-02 01:16] #1505 closed

[2022-06-02 02:43] crystalin commented on #1544
Sorry @AaronKutch for the delay.

The current Ethereum RPC is part of the Substrate RPC, both are sharing the same port/connection (`--ws-port` for Websocket and `--rpc-port` for HTTP). If you are not looking to add debug features, you only really need those 2 options.
All those are configured to listen to localhost IIRC (with the exception of the p2p connection which can specify a public endpoint

[2022-06-02 13:41] github-actions[bot] opened #1566 "client v0.24.0 release"
- [x] Create a PR with v0.24.0 (see README.md last section or last v0.23.0 PR
    to see the required changed)
  - [x] Get that PR approved and merged
  - [x] Tag master with v0.24.0 and push to github
  - [x] Start the github action Publish Binary Draft with v0.23.0 => v0.24.0
  (master branch)
  - [x] Review the generated Draft and clean a bit the messages if needed (keep it draft)
  - [x] Updat

[2022-06-02 15:16] github-actions[bot] opened #1568 "runtime-1602 release"
## Requirements
- [x] Merge #1567

## Pre-Release
- [x] Bump spec version to 1602

## Release
- [x] Tag branch `perm-runtime-1602` with `runtime-1602` and push to github
- [x] Start the github action Publish Runtime Draft
with runtime-1601 => runtime-1602
- [x] Review the generated Draft and clean a bit the messages if needed (keep it draft)
- [x] Create the tracing runtime on moonbeam-runtime-ove

[2022-06-02 23:03] github-actions[bot] opened #1570 "runtime-1603 release"
## Requirements
- [x] Merge #1569

## Pre-Release
- [x] Bump spec version to 1603

## Release
- [x] Tag master with runtime-1603 and push to github
- [x] Start the github action Publish Runtime Draft
with runtime-1602 => runtime-1603
- [ ] Review the generated Draft and clean a bit the messages if needed (keep it draft)
- [ ] Create the tracing runtime on moonbeam-runtime-overrides
(see https://gi

[2022-06-02 23:05] #1568 closed

[2022-06-03 04:44] AaronKutch commented on #1544
Sorry, I wasn't thinking. The explanations make sense, and I was trying to use moonbeam in a separate container because I thought for some reason that the moonbeam binary was `musl` and couldn't be copied over to the normal docker containers I was using.

[2022-06-03 04:44] #1544 closed

[2022-06-03 09:38] zhengwen-infstones opened #1571 "I set up a moonriver node,but it's memory usage growth cannot be limited"
version: v0.23.0
network: moonriver

I start a node follow this https://docs.moonbeam.network/node-operators/networks/run-a-node/systemd/
and set
   --db-cache = 4000
but I noticed the memory usage increase to 9G after two days
![image](https://user-images.githubusercontent.com/105617959/171828286-a81ec417-15d7-4592-8d74-a18a5d72fd81.png)
![image](https://user-images.githubusercontent.com/10561795

[2022-06-04 03:37] AaronKutch opened #1572 "`eth_getBlockByNumber` response does not include `nonce` field"
When I run `moonbeam` and run
`curl -s --header "content-type: application/json" --data "{\"id\":10,\"jsonrpc\":\"2.0\",\"method\":\"eth_getBlockByNumber\",\"params\":[\"latest\",false]}" http://localhost:9944`
I get as a response
`{"jsonrpc":"2.0","result":{"author":"0x0000000000000000000000000000000000000000","baseFeePerGas":"0x3b9aca00","difficulty":"0x0","extraData":"0x","gasLimit":"0xe4e1c0",

[2022-06-04 12:39] crystalin commented on #1572
@tgmichel can you look at that please ?

[2022-06-06 15:50] tgmichel commented on #1572
@AaronKutch thank you for reporting.

Frontier was initially coded re-using some of the parity/open-ethereum types. On its implementation `eth_blockByNumber/Hash` return [seal_fields instead](https://github.com/ethereum/EIPs/issues/95), which aimed to provide a broader support for non-PoW consensus.

That's the reason why `nonce` is missing in the payload: is part of `seal_fields` instead. However

[2022-06-06 16:27] AaronKutch commented on #1572
thanks, we will use a temporary workaround for now

[2022-06-08 09:49] albertov19 commented on #1288
I can confirm this issue has bee fixed: https://moonbase.moonscan.io/address/0xF6c762CEB819A3c04d1660646bE110F584517467#events

![image](https://user-images.githubusercontent.com/64150856/172587399-cf0a7247-8a69-4dd6-85f0-798ec301d3bb.png)

[2022-06-09 13:27] github-actions[bot] opened #1582 "client v0.24.0 release"
- [x] Create a PR with v0.24.0 (see README.md last section or last v0.23.0 PR
    to see the required changed)
  - [x] Get that PR approved and merged
  - [x] Tag master with v0.24.0 and push to github
  - [x] Start the github action Publish Binary Draft with v0.23.0 => v0.24.0
  (master branch)
  - [x] Review the generated Draft and clean a bit the messages if needed (keep it draft)
  - [x] Updat

[2022-06-10 12:24] github-actions[bot] opened #1587 "runtime-1604 release"
## Requirements
- [ ] To be manually edited (add pending PRs)

## Pre-Release
- [ ] Bump spec version to 1604

## Release
- [ ] Tag master with runtime-1604 and push to github
- [ ] Start the github action Publish Runtime Draft
with runtime-1603 => runtime-1604
- [ ] Review the generated Draft and clean a bit the messages if needed (keep it draft)
- [ ] Create the tracing runtime on moonbeam-runti

[2022-06-13 03:48] crystalin commented on #1571
So the node is usually taking as much memory as available. I don't think there is a way to have a hard limit on the memory as there are multiple element that can require growing memory (storing ranges of blocks, rpc requests using lot of data ....)

[2022-06-13 13:21] github-actions[bot] opened #1594 "runtime-1605 release"
## Requirements
- [ ] To be manually edited (add pending PRs)

## Pre-Release
- [ ] Bump spec version to 1605

## Release
- [ ] Tag master with runtime-1605 and push to github
- [ ] Start the github action Publish Runtime Draft
with runtime-1603 => runtime-1605
- [ ] Review the generated Draft and clean a bit the messages if needed (keep it draft)
- [ ] Create the tracing runtime on moonbeam-runti

[2022-06-14 13:52] #1465 closed

[2022-06-14 13:52] #1548 closed

[2022-06-14 13:52] #1570 closed

[2022-06-15 11:39] crystalin commented on #1582
Thank you @librelois

[2022-06-15 11:39] #1582 closed

[2022-06-17 01:17] makefriendwithtime commented on #1520
@tgmichel
Excuse me, the  runtime has been 1605, and I still display unknown selector when I run the pending interface。

[2022-06-17 07:06] tgmichel commented on #1520
Sorry to hear that, I will try to reproduce it.

[2022-06-17 09:31] nbaztec commented on #1520
@makefriendwithtime as part of 1605 there is no longer the ability to know if a delegator is leaving, so `delegate_exit_is_pending` is no longer available and the recommended behavior is to simply execute `execute_leave_delegators` if it is known that the candidate has previously scheduled leave (via event or otherwise).

`candidate_exit_is_pending`, should however, work as expected. Could you ple

[2022-06-20 03:05] makefriendwithtime commented on #1520
@nbaztec
If I can't use delegate_exit_is_pending, how would I solve the problem mentioned earlier
https://github.com/PureStake/moonbeam/issues/1128#issuecomment-1072945874
Can you provide a solution？

[2022-06-20 09:05] nbaztec commented on #1520
As you mentioned before, you can directly call `execute_leave_delegators`, with the prior knowledge that these delegators have a leave scheduled. Since a leave is practically a mass revoke, you can identify it via:

* A prior `DelegatorExitScheduled` event if one is using the subscription on new blocks.
* All delegations (for the delegator) have a scheduled `Revoke` request in the storage item `De

[2022-06-22 07:15] makefriendwithtime commented on #1520
@nbaztec
Thanks for your advice! I don't know how to implement the solution you mentioned in smart contracts! My current situation is like this, I executed the scheduled operation scheduleLeaveDelegators() on the smart contract, and recorded the time and block. When the specified time or block is reached, if other users use executeLeaveDelegators(delegator, delegationCount) to preemptively confirm

[2022-06-22 07:42] makefriendwithtime commented on #1520
@tgmichel @crystalin @nbaztec
delegate_exit_is_pending has not been officially enabled, why is it deprecated, I don't understand!

[2022-06-22 07:51] nbaztec commented on #1520
@makefriendwithtime
To achieve your use case you can call `is_delegator` before `execute_leave_delegators` - if the execute has already been invoked then the delegator is no longer in the state, and hence this should return `false`, and `true`, if the execute hasn't been performed.

`delegate_exit_is_pending` was removed to simplify certain staking operations and the interface will be patched shor

[2022-06-22 11:47] github-actions[bot] opened #1623 "Update substrate/polkadot/cumulus from v0.9.20 to v0.9.23"
# Description

This ticket is automatically generated using

[code]

## substrate (2022-04-29 -> 2022-06-10)

https://github.com/paritytech/substrate/compare/polkadot-v0.9.20...polkadot-v0.9.23
[code]

## polkadot (2022-05-02 -> 2022-05-30)

https://github.com/paritytech/polkadot/compare/release-v0.9.20...release-v0.9.23
[code]

## cumulus (2022-05-04 -> 2022-06-10)

https://github.com/paritytech/

[2022-06-22 11:47] #1566 closed

[2022-06-23 01:51] makefriendwithtime commented on #1520
@nbaztec
Thank you for your proposal, I'll see if it meets the requirements. Will the interface candidate_exit_is_pending also be cancelled, and is it_candidate used to solve it?

[2022-06-23 06:35] makefriendwithtime commented on #1520
@nbaztec
Executing execute_leave_candidates prompts an error：Dispatched call failed with error: <wasm:stripped>

[2022-06-23 09:51] nbaztec commented on #1520
Potentially yes. the `is_candidate` would be the correct approach to use it as well.

Yes there's a known bug that's pending a runtime upgrade to be fixed - if you let me know the candidate address I can confirm if the account is affected by that bug.

[2022-06-23 13:58] nbaztec commented on #1520
This collator does not seem have any outstanding leave request, and as such the call `execute_leave_candidates` fails. Are you sure a leave was scheduled for this collator?

[2022-06-23 15:27] makefriendwithtime commented on #1520
I'm sure I did schedule_leave_delegators()，the contract itself also records the block height 2348468

[2022-06-23 15:27] makefriendwithtime commented on #1520
I'm sure I did schedule_leave_delegators()，the contract itself also records the block height 2348468

[2022-06-23 23:41] makefriendwithtime commented on #1520
Yes, I did call `execute_leave_delegators` instead of `execute_leave_candidates`, I made a typo。

[2022-06-24 07:59] nbaztec commented on #1520
Could you let me know the exact parameters you used in the call? I can look into it then.

[2022-06-24 10:22] trusch opened #1628 "Request for an example how to create signatures for AccountId20"
I'm trying to figure out how to create a signature that can be verified by the AccountId20 implementation from your codebase. I'm actually writing some unit tests in rust and can't get it to work.

By now I'm doing this:

[code]

Any help would be appreciated, thanks in advance!

[2022-06-24 11:27] trusch commented on #1628
I already verified in another unit test that the to_eth_account() function gives the same result as the way it is created in the AccountId20 implementation

[2022-06-24 11:41] trusch commented on #1571
You should be able to restrict the memory usage by running the node within a cgroup with restricted resources. I'd recommend using the container image and run it with podman, but I think docker also supports limiting the memory. Systemd also provides a way of declaring memory limits, so if you already have a unit file this approach might be the easiest for you.

[2022-06-24 12:34] trusch commented on #1628
The problem was that ecdsa::Pair::sign is hashing by itself, using sign_prehashed solves this!

working example:
[code]

[2022-06-24 12:34] #1628 closed

[2022-06-24 15:06] nbaztec commented on #1520
Glad it worked :)

[2022-06-24 15:06] #1520 closed

[2022-06-25 08:22] makefriendwithtime commented on #1520
@nbaztec
It seems that there is still a problem, I will test it again and give you feedback

[2022-06-25 11:24] makefriendwithtime commented on #1520
@nbaztec
Delegator: 0xAa40CE2631E5cBEEFbEdbac9fEB4327BA27A18aa
Collector: 0x645b0a77E7f1c438afacad9ac7e6b5D3e39Db4e
Call schedule_delegator_bond_less and execute execute_delegation_request when the conditions are met, prompting an error: Dispatched call failed with error: wasm:stripped

[2022-06-25 11:44] nbaztec commented on #1520
`0xAa40CE2631E5cBEEFbEdbac9fEB4327BA27A18aa` doesn't seem to have a bond less request but a `revoke` request scheduled for round `3940` and it is currently `3939`. This seems expected behavior.

[2022-06-25 12:12] makefriendwithtime commented on #1520
Then I will do it again, and I will report back to you if there is any problem. thank you very much

[2022-06-27 01:40] doutv opened #1629 "Suggestion: Replace polkadot-launch with Zombienet or parachain-launch"
I think it's much more easier to deploy a local test network using Zombienet or parachain-launch, rather than the current solution polkadot-launch.

[parachain-launch](https://github.com/paritytech/polkadot-launch) uses Docker-Compose.
[Zombienet](https://github.com/paritytech/zombienet) uses k8s, podman, and native.

See below for motivation:
- https://github.com/substrate-developer-hub/substrate

[2022-06-27 02:26] crystalin commented on #1629
I agree, we have it in our backlog.
Currently, you can simply go to tools, `npm install` and then `npm run launch -- --parachain moonbase-0.24.0` if you don't want to build it

[2022-06-27 02:41] doutv commented on #1629
Thanks~

[2022-06-27 22:39] intendednull opened #1633 "Suggestion: Move precompile-utils to Frontier"
We're developing precompiles over at Humanode, and have found [your utility crate](https://github.com/PureStake/moonbeam/tree/master/precompiles/utils) to be super helpful!

Would it be possible to find a new home for it, like Frontier? If not, what are the obstacle preventing it from wider use?

We're willing to make the move ourselves if necessary. Thank you!

[2022-06-29 00:18] github-actions[bot] opened #1636 "runtime-1606 release"
## Requirements
- [ ] To be manually edited (add pending PRs)

## Pre-Release
- [ ] Bump spec version to 1606

## Release
- [ ] Tag master with runtime-1606 and push to github
- [ ] Start the github action Publish Runtime Draft
with runtime-1605 => runtime-1606
- [ ] Review the generated Draft and clean a bit the messages if needed (keep it draft)
- [ ] Create the tracing runtime on moonbeam-runti

[2022-06-30 15:16] github-actions[bot] opened #1645 "client v0.25.0 release"
- [x] Merge #1376
  - [x] Create a PR with v0.25.0 (see README.md last section or last v0.24.0 PR
    to see the required changed)
  - [x] Get that PR approved and merged
  - [x] Tag master with v0.25.0 and push to github
  - [x] Start the github action Publish Binary Draft with v0.24.0 => v0.25.0
  (master branch)
  - [x] Review the generated Draft and clean a bit the messages if needed (keep it

[2022-07-05 17:39] github-actions[bot] opened #1659 "runtime-1700 release"
## Requirements
- [x] #1604
- [x] #1376

## Pre-Release
- [x] Cleanup previous migrations (
  https://github.com/PureStake/moonbeam/blob/master/runtime/common/src/migrations.rs)

## Release
- [x] Tag master with runtime-1700 and push to github
- [x] Start the github action Publish Runtime Draft
with runtime-1606 => runtime-1700
- [x] Review the generated Draft and clean a bit the messages if neede

[2022-07-08 08:36] doutv opened #1662 "Suggestion for improving launch tools"
I have several suggestions to launch tools under tools/ directory according to my testing local node experience:
- add docs for running multiple parachains: such as `npm run launch -- --parachain moonbase-0.24.0 --parachain moonbase-0.24.0`
- add cli flags for relay chain to help testing `"--unsafe-rpc-external", "--unsafe-ws-external", "--rpc-cors=all"`
- add an option to toggle display generated

[2022-07-08 09:45] #1629 closed

[2022-07-09 22:00] dudo50 opened #1667 "Unable to use Keypair"
When I want to try registering asset on local network I receive error.

Code I want to execute in javascript section:

// Make a transfer from Alice to Bob and listen to system events.
// You need to be connected to a development chain for this example to work.
[const ALICE = '5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY';
const BOB = '5FHneW46xGXgs5mUiveU4sbTyGBzmstUspZC92UhjJM694ty';

 const

[2022-07-09 23:48] crystalin commented on #1667
Moonbeam is using AccointId20 as format (like Ethereum Account made of 20 bytes). You are providing an AccountId32 which is not compatible.

Alith address and private key can be found there https://github.com/PureStake/moonbeam#prefunded-development-addresses

[2022-07-10 12:51] dudo50 commented on #1667
Is there any possibility to compile it into accountid32? I am working on xcm transfer tool and it does not allow me to transfer xcm messages to moonbream from rococo relay chain because xcm messages from rococo require account id32.. Thanks in advance

[2022-07-10 13:26] crystalin commented on #1667
@dudo50 No it is not possible to compile with AccountId32 (I think there are some restrictions related to the EVM blocking it)
But you can totally use XCM with AccountId20 from Rococo.

When you build the XCM message, if you want to target the Parachain Moonbeam, you can use:
[code]
(In local development, Moonbeam is 1000

If you want to target a specific AccountId20 on Moonbeam in your XCM fragme

[2022-07-10 19:12] dudo50 commented on #1667
Thank you very much this is very important information to me!
I will now start testing this.
Have nice rest of the day.

[2022-07-10 19:30] dudo50 commented on #1667
So when tested, I receive error on Moonbeam side:
 outcome: XcmV2TraitsOutcome
{
  Incomplete: [
    600,000,000
    TooExpensive
  ]
}
Any idea on how to solve this?
Thank you

[2022-07-10 20:41] dudo50 opened #1668 "Unable to register asset on local node"
When I try to register any asset I get error message filtered. Also if I want to try it manually through Polkadot api I am unable to do it because I need sudo call for it. Is there any way to register foreign assets on local network? Thank you

[2022-07-10 21:26] crystalin commented on #1668
@dudo50 you don't need to create a new ticket for that.
Simply use `sudo` , the account is alith. If you are using a runtime without sudo, you can use the democracy to register it.

Also you can find great information about XCM on Moonbeam directly there: https://docs.moonbeam.network/builders/xcm/

[2022-07-10 21:26] #1668 closed

[2022-07-10 21:27] crystalin commented on #1667
@dudo50 it probably means you didn't have enough assets or didn't buy enough execution.
Also, it would help that you put what message you are sending so it makes it easier for us to help

[2022-07-12 05:17] dudo50 commented on #1667
Hi, the call I am sending is following:

const call = api.tx.xcmPallet.reserveTransferAssets({V1: { parents:0, interior:{ X1: {Parachain: destPara}}}},
{V1:{parents:0,interior:{X1:{AccountKey20: {network: "Any", key: this.addr}}}}},
 {V1: [{id: {Concrete: {parents:0, interior: "Here"}}, fun:{ Fungible: this.amount}}]},0).signAndSend(keyring.createFromUri(account), (result) => { console.log(result)

[2022-07-12 08:38] makefriendwithtime commented on #1520
@crystalin @nbaztec
Excuse me? Currently, does the moonriver network support smart contract addresses as delegators and collectors?

[2022-07-12 11:42] crystalin commented on #1667
@girazoki can you help with the XCM instructions please ?

[2022-07-12 11:44] crystalin commented on #1520
@makefriendwithtime there is currently nothing preventing a SC to be a collator but it is not intended to be like that.
Concerning delegation it can be done through SC yes

[2022-07-13 02:45] makefriendwithtime commented on #1520
@crystalin
Which runtime versions of moonriver and moonbeam can support smart contract addresses to become principals?

[2022-07-14 10:03] anonymousGiga opened #1677 "How to get the key of the validator(in h160 account) from the keystore in ocw?"
In example of substrate，i can get the key of  a validator in ocw like this:
[code]

[code]
When I use moonbeam code, how can I implement appcrypto in runtime/src/lib.rs?    @JoshOrndorff

[2022-07-14 10:18] anonymousGiga commented on #1677
Ok, thank you very much. Do you know anyone else I may ask?

[2022-07-15 02:03] crystalin commented on #1520
@makefriendwithtime Can you describe what scenario and use cases you would like to implement and we will be able to make a better plan to support it.
Once of the current challenge supporting it is the staking pallet instability. We are still working a lot on it and it means many functions end up being deprecated

[2022-07-15 04:41] makefriendwithtime commented on #1520
@crystalin
Main scene:
Build a DAO Pool,
The user pledges MOVR to the smart contract, and the collector leases the MOVR from the smart contract and pledges it to the collector node. Here, the smart contract acts as the principal role, so the collector has no contact with MOVR throughout the process, which ensures the safe use of MOVR.
For project details, please see:https://github.com/makefriendwi

[2022-07-15 12:17] crystalin commented on #1520
@makefriendwithtime I read it and I don't think it makes more sense to be applied in our staking design.
We want the collator account to represent the operator of the node. The reason for that is because the node operator might need the account to perform technical operations (Ex, rotating the node keys). Also, when slashing is done for bad behavior, the self bond should represent the node operato

[2022-07-16 02:43] makefriendwithtime commented on #1520
@crystalin
I think what you're saying is that the part of being a collector through our DAO doesn't make much sense, but actually becoming a delegator through our DAO is useful for existing collector nodes that are They can dynamically adjust their node pledge amount and rate of return by leasing DAO's TOKEN. They may need to reserve a large amount of TOKEN to ensure the normal operation of the no

[2022-07-16 21:20] crystalin commented on #1520
Yes for the delegators, we have already prepared support this liquidity and derived token (called "shares" in our PR) from any collator, but this is not complete yet: https://github.com/PureStake/moonbeam/pull/1653

[2022-07-16 21:33] crystalin commented on #1520
So if we enable the Precompile for Smart Contract on Moonriver/Moonbeam, the risk is that it won't stay compatible for long as we are still heavility working on the parachain staking pallet. This mean that Smart Contract will have to migrate regularly. Is this something you feel would be ok for you ?

[2022-07-18 01:56] andrewsonin opened #1686 "Neighbor parachain token support"
Hi there!

I am a member of the [Quartz by Unique](https://unique.network/quartz/) development team which is a parachain on Kusama. We would like to list our token (QTZ) on several DEXes hosted on Moonriver. Accordingly, we would like to provide native support for our token on your parachain: https://blockscout.moonriver.moonbeam.network/tokens

Could you please elaborate on how can we achieve thi

[2022-07-18 03:03] makefriendwithtime commented on #1520
@crystalin
Does the so-called regular migration mean that there will be major changes to the precompiled files, and when will #1653 be completed? Can you describe the specific details of the incompatibility?

[2022-07-18 13:20] albertov19 commented on #1686
@crystalin we are already talking with their team through Telegram. Feel free to close the issue 😄

[2022-07-18 13:20] #1686 closed

[2022-07-18 13:24] crystalin commented on #1520
@makefriendwithtime, concerning the stability of the precompile, it is hard to predict but things like removing some features or changing some parameters/return of some functions is still happening from time to time.

I think starting with runtime 1800 we can start to evaluate making it stable.

[2022-07-19 00:50] #1677 closed

[2022-07-19 02:00] makefriendwithtime commented on #1520
@crystalin Can our project apply for grant now?

[2022-07-19 08:26] github-actions[bot] opened #1691 "Update substrate/polkadot/cumulus from v0.9.23 to v0.9.26"
# Description

This ticket is automatically generated using

[code]

## substrate (2022-06-10 -> 2022-07-12)

https://github.com/paritytech/substrate/compare/polkadot-v0.9.23...polkadot-v0.9.26
[code]

## polkadot (2022-05-30 -> 2022-07-13)

https://github.com/paritytech/polkadot/compare/release-v0.9.23...release-v0.9.26
[code]

## cumulus (2022-06-10 -> 2022-07-16)

https://github.com/paritytech/

[2022-07-20 02:35] #1645 closed

[2022-07-20 02:36] crystalin commented on #1691
@nanocryk can you cherry-pick https://github.com/paritytech/substrate/pull/11868 (which means either upgrade all dependencies or do it like: https://github.com/PureStake/moonbeam/pull/1697

[2022-07-21 16:03] github-actions[bot] opened #1703 "runtime-1701 release"
## Requirements
- [x] #1702 1702

## Pre-Release
- [x] Bump spec version to 1701

## Release
- [x] Tag master with runtime-1701 and push to github
- [x] Start the github action Publish Runtime Draft
with runtime-1700 => runtime-1701
- [x] Review the generated Draft and clean a bit the messages if needed (keep it draft)
- [x] Create the tracing runtime on moonbeam-runtime-overrides
(see https://git

[2022-07-22 12:18] #1659 closed

[2022-07-25 01:16] makefriendwithtime commented on #1520
@crystalin
Hello, the email you gave me, I have sent an email, but it has been 5 days and still no one has replied to me. Not sure if this email address is correct, I would like to hear back.

[2022-07-25 02:34] crystalin commented on #1520
@makefriendwithtime I'm sorry to hear that. I asked him and he said he didn't see your email in his inbox. You can also try throuigh Telegram to `Ps_nate`

[2022-07-25 06:21] makefriendwithtime commented on #1520
OK, I'll give it a try. thank you very much for your help
@crystalin

[2022-07-28 06:53] makefriendwithtime commented on #1520
@crystalin I changed my email address, sent an email to nate again, and left a message on telegram, but I still haven't received a reply. Is anyone else in charge of this?

[2022-07-29 14:08] #1703 closed

[2022-08-01 01:10] crystalin opened #1714 "Typescript generation not working for moonriver/moonbeam"
Our typescript api is generated when releasing the new runtime on Alphanet, however it doesn't update the Moonriver/Moonbeam API correctly because they are still running the previous runtimes.

I'm suggesting we use a "local" node instead (there is a script in package.json for that) with `moon[base/river/beam]-local` runtime to get the latest version

@librelois for suggestions

[2022-08-01 14:07] crystalin commented on #1714
Yes it will have to spawn the node 3 times. but it is very quick. Getting the binary might be the challenge, depending if we want to use the official or the sha-xxxx version from docker (probablyu the latter is better)

[2022-08-01 15:04] albertov19 opened #1718 "`eth_call` with `gas` over block limit fails"
With the introduction of client v0.25.0, `eth_call` with gas limit over the block limit fails with error (gas limit too high):

[code]

PR https://github.com/paritytech/frontier/pull/799 addresses this issue, but for whatever reason, requests with a higher block gas limit worked before.

For example:

[code]

☝️ worked in Moonriver, client version `v0.24.0` (we've verified today also), but does no

[2022-08-01 15:14] nanocryk commented on #1718
Now gas limit is checked to be below the block gas limit.
This PR plans to allow going over (by some factor) for eth_call and eth_estimateGas :
https://github.com/paritytech/frontier/pull/799

[2022-08-07 08:23] dudo50 opened #1730 "No sudo to register asset"
Hello, how can I register an asset if there is no sudo pallet? When I try to register it with Alith I receive error Bad origin meaning she has no rights for that probably. Thanks in advance

[2022-08-07 08:43] crystalin commented on #1730
If you want to test locally, you should use `--dev` which contains the pallet `sudo`
If you want to use one of our non-suso runtime, you should use the council and Technical Committee to perform root actions

[2022-08-11 10:03] sudipghimire533 opened #1739 "[`Docs guide`] How to implement staking pallet"
Moonbeam's pallet-staking seems to be fit in our use case as well. I would like to request you guys if you have some reference on how to implement pallet-staking in other cumulus based node as well. Currenlt we are using pallet-collator-selection

Here is my current understanding:
1) Configure pallet-staking's Config in Runtime
2) Add to construct runtime before session and authorship pallet
3) Se

[2022-08-14 13:51] 4meta5 commented on #1739
Hello @sudipghimire533 , they are not implemented -- moonbeam runtimes do not have pallet_authorship nor pallet_session; it has substitutes:

(3) we use nimbus::pallet_author_inherent https://github.com/PureStake/nimbus/tree/main/pallets/author-inherent instead of pallet_authorship, so there is no implementation of pallet_authorship::EventHandler for ParachainStaking

We removed the `nimbus_primit

[2022-08-16 07:06] boundless-forest opened #1751 "Any way to to capture the tracing logs in wrapped dispatch call"
We found such an issue that you'll get the following result if the `Ethereum::transact` call is wrapped in another dispatch call.

[code]

An example like this: https://pangolin.subscan.io/extrinsic/3680094-2

![image](https://user-images.githubusercontent.com/11801722/184816629-05e867d0-1fbc-4ebe-a3ce-34d1977b6b3c.png)

After the investment, I've found the root cause to be the filter below, we on

[2022-08-19 08:34] AsceticBear commented on #1751
Can we add another runtime function named `trace_extrinsic(xx)`, like `trace_transaction(xx)` above to support tracing a specific extrinsic?

[2022-08-19 13:18] github-actions[bot] opened #1761 "runtime-1800 release"
## Requirements
- [x]  Merge #1750
- [x]  Merge #1723
- [x]  Merge #1706
- [x]  Merge #1760
- [x] Merge #1725
- [x]  Merge #1754
- [x]  Merge #1728
- [x]  Merge #1757
## Pre-Release
- [x] Cleanup previous migrations (
  https://github.com/PureStake/moonbeam/blob/master/runtime/common/src/migrations.rs)

## Release
- [x] Tag master with runtime-1800 and push to github
- [x] Start the github action

[2022-08-20 05:14] htkcodes opened #1766 "Error when trying to trace a transaction"
Error: processing response error (body="{\"jsonrpc\":\"2.0\",\"error\":{\"code\":-32603,\"message\":\"DispatchError: Other(\\\"\\\")\"},\"id\":43}\n", error={"code":-32603}, requestBody="{\"method\":\"debug_traceTransaction\",\"params\":[\"0xc6cc2f901b93f4472c9ff4721a7037ccbe9c32d1d8e2e164d15922155d32db42\",{\"tracer\":\"callTracer\"}],\"id\":43,\"jsonrpc\":\"2.0\"}", requestMethod="POST", url="ht

[2022-08-22 02:08] AsceticBear commented on #1766
Something error occurred in the `trace_transaction` in the node runtime interface, the concrete error has been discarded in the RPC side. That is the reason you get `Other(\"\")"}`.

[2022-08-22 18:35] dudo50 commented on #1730
So unfortunately even with sudo (and even with sudo & alith) I receive error BadOrigin when registering foregin asset. Any hint what can be wrong? Thanks in advance.
Screen of how I format asset registering
![Screenshot from 2022-08-22 20-33-41](https://user-images.githubusercontent.com/55763425/185994115-b0b07abd-f066-4700-80fc-1d8a9fd00b97.png)

[2022-08-23 07:20] girazoki commented on #1730
what is you asset-manager runtime configuration? Also min amount should be at least one otherwise the creation wont work (although I think you wouldnt get BadOrigin)

[2022-08-24 08:49] crystalin commented on #1761
@librelois we should also release the new client before the public tracing image so it will use some of the changes in RPC that were cherry-picked in the previous version but should be included in the new client.

[2022-08-24 12:11] github-actions[bot] opened #1775 "client v0.26.0 release"
- [x] Create a PR that update the launch.ts configuration (to add client conf for this version)
  - [x] Get that PR approved and merged
  - [x] Tag master with v0.26.0 and push to github
  - [x] Start the github action Publish Binary Draft with v0.25.0 => v0.26.0
  (master branch)
  - [x] Review the generated Draft and clean a bit the messages if needed (keep it draft)
  - [x] Update moonbeam-netw

[2022-08-29 09:34] AsceticBear commented on #1751
Any feedback about this?

[2022-08-29 09:54] nanocryk commented on #1751
Can you provide the exact RPC call you made to get this output?

On Moonbeam you shouldn't be able to make an EVM execution outside of an Ethereum transaction or XCM (only on Moonbase, we need to add tracing support for it).

Having an RPC to get the Substrate hash from the Ethereum hash could be useful in general however.

[2022-08-29 10:06] AsceticBear commented on #1751
@nanocryk

1.  ```curl http://g4.pangolin-p2p.darwinia.network:9933 -H "Content-Type:application/json;charset=utf-8" -d '{ "jsonrpc":"2.0", "id":1, "method":"debug_traceTransaction", "params": ["0xf4526d1a118315aa561a810025336c191c425e342bfe176891dd45f961b8323a", {"disableStorage": true, "disableMemory": true, "disableStack": true}]}' | jq```
2. `Receive_messages_delivery_proof`  call comes from o

[2022-08-29 10:11] AsceticBear commented on #1751
This way seems easier but might break the RPC compatibility with Ethereum because the extrinsic concept only exists in the substrate chain. I am not sure what your team thinks about this. If it's Okay, I can raise a pr to do it.

[2022-08-29 10:22] AsceticBear commented on #1751
In this way, we need to store the `ethereum_hash => extrinsic_hash` in frontier DB after the sender submits the tx to the pool, for the older transactions, we might need some special treatment.

[2022-08-29 14:06] #1761 closed

[2022-08-29 14:08] librelois commented on #907
Already implemented in #1597

[2022-08-29 14:08] #907 closed

[2022-08-29 14:10] notlesh commented on #1457
Can this be closed (esp. @librelois)?

[2022-08-29 14:11] #1457 closed

[2022-08-29 14:57] notlesh commented on #1537
Sorry for the long delay in responding.

The babe and grandpa keys do not need to be derived from the same source as your Ethereum keys. We have this rather old script that you may find helpful:

https://github.com/PureStake/moonbeam/blob/master/scripts/generate-session-keys.sh

This key uses a polkadot binary to generate a mnemonic and then use this mnemonic to derive babe and grandpa keys.

The

[2022-08-29 14:58] #1537 closed

[2022-08-29 15:20] notlesh commented on #1571
Please also note that the recommended hardware requirements for running a node are 32GB of RAM (see https://docs.moonbeam.network/node-operators/networks/collators/requirements/#hardware-requirements).

The 4GB db-cache flag will only apply to the db cache; there are many other RAM-hungry parts of a node that will apply on top of this. You may find that you can reduce this further and run under 8G

[2022-08-29 15:21] #1571 closed

[2022-08-29 18:27] #1739 closed

[2022-08-29 18:29] #1428 closed

[2022-08-30 07:06] tgmichel commented on #1572
Closing, included in client [v0.25.0](https://github.com/PureStake/moonbeam/tree/v0.25.0)

[2022-08-30 07:06] #1572 closed

[2022-08-30 07:17] tgmichel commented on #1766
We'd need more information on your setup, the trace for that transaction works correctly on our end:

[code]

Some possible causes for failing on your end, as I see you are running a local Moonbeam node:

- You don't have correctly setup the runtime overrides or you don't have the runtime override for runtime `1701`.
- The node is not synced up to block `1_690_156`.

[2022-08-30 07:27] tgmichel commented on #1501
We'd need more information on your setup or the network you are on. On our end, I tried to trace the block `1_001_480` on all our networks and all return the expected trace details.

Given the error message you are getting, you are probably missing the `tracer` parameter:

`"params": ["0xf4808",{"tracer":"callTracer"}]`

[2022-08-30 07:28] girazoki commented on #1667
The error means that you have not set the units per second for `Multilocation {parents:1, interior: here}`. You can do this by using the extrinsic assetManager.set_units_per_second

[2022-08-30 07:30] girazoki commented on #1730
@dudo50 any luck on this?

[2022-08-30 07:44] #1526 closed

[2022-08-30 07:44] #1557 closed

[2022-08-30 07:45] #1623 closed

[2022-08-30 07:55] crystalin commented on #1286
`perf` command has been removed, the binary is now providing performance information when starting:
[code]

[2022-08-30 07:55] #1286 closed

[2022-08-30 11:36] CertainLach opened #1792 "moonriver genesis chain-spec fails genesis config checks"
Repro:
[code]
There is an error in the logs:
[code]
And there are no collators specified in `ParachainStaking.SelectedCandidates`, resulting in `panicked at 'Block invalid, supplied author is not eligible.'` error at runtime

If I edit spec.json, by multiplying value for every `ParachainStaking.Candidates` by 1000, then genesis is successfully built.

[2022-08-30 13:51] htkcodes commented on #1766
i followed your tutorial on setting up a trace  node on the moonbeam website.. so how do i setup the runtime overrides?

[2022-08-30 15:38] nanocryk commented on #1662
Looks like good suggestions, feel free to make some PRs for them :)

[2022-08-30 18:55] dudo50 commented on #1730
Unfortunately I am unable to proceed with this still. I am now trying to attempt registering asset through governance. If I find solution I will post an update here

[2022-08-31 07:42] girazoki commented on #1792
I believe this is because if you input a spec json file, its name has to start with the name of the chain. Try doing:

[code]

[2022-09-01 15:14] #1289 closed

[2022-09-01 15:20] librelois commented on #1391
@4meta5 this is something that is still relevant to do, do we have a JIRA ticket for this?

[2022-09-02 08:44] #1509 closed

[2022-09-02 09:37] nbaztec commented on #1543
@AaronKutch I was able to reproduce the above issue with image `purestake/moonbeam:sha-da03fdc2 `, but it seems resolved with the current image `purestake/moonbeam:sha-4423f41b`. Could you give that a try?

[code]

[2022-09-02 17:35] AaronKutch commented on #1543
thanks

[2022-09-02 17:35] #1543 closed

[2022-09-03 20:23] 4meta5 commented on #1391
MOON-1812

Discussed there is fact that randomness-collective-flip is low entropy. If we replace it, we want something similarly low entropy. Relay chain's epoch randomness is low entropy but only changes once per epoch. Parachain's per-block VRF randomness changes every block but is high entropy.

Combining them somehow may be suitable, this might be a good issue to discuss how that should be don

[2022-09-06 12:45] girazoki commented on #1792
any luck @CertainLach ?

[2022-09-06 12:45] girazoki commented on #1730
Will close for now, let us know if we need to re-open

[2022-09-06 12:45] #1730 closed

[2022-09-06 12:46] girazoki commented on #1667
Any luck @dudo50 ? Can I close the issue?

[2022-09-08 08:42] AsceticBear commented on #1751
Since the dispatch call represents a storage proof, it's hard to parse out at the runtime side.

[2022-09-08 09:29] github-actions[bot] opened #1804 "runtime-1801 release"
## Requirements
- [x] Merge #1806 on master
- [x] Cherry-pick #1806 on `perm-runtime-1801`
- [x] Merge #1807 on master
- [x] Cherry-pick #1807 on `perm-runtime-1801`

## Pre-Release
- [x] Bump spec version to 1801

## Release
- [x] Tag master with runtime-1801 and push to github
- [x] Start the github action Publish Runtime Draft
with runtime-1800 => runtime-1801
- [x] Review the generated Draft a

[2022-09-09 12:32] tgmichel commented on #1501
Closing this issue as inactive, please re-open if necessary

[2022-09-09 12:32] #1501 closed

[2022-09-09 12:33] tgmichel commented on #1766
Closing as resolved, please re-open if necessary

[2022-09-09 12:33] #1766 closed

[2022-09-13 14:16] mcf-rocks opened #1810 "--unsafe-ws-external is not working"
I am running the node with --unsafe-ws-external and --unsafe-rpc-external however I cannot connect via the server's external interface only the local interface, it gives permission error.

[code]

The port is correctly listening on all interfaces - but gives permission denied when connected to from any interface other than local
[code]

[2022-09-13 14:58] andropixels commented on #1810
you tried changing to localhost instead of 127.0.0.1 ?

[2022-09-13 15:15] mcf-rocks commented on #1810
localhost works fine - but I need to connect from another server.

[code]

[2022-09-13 19:09] mcf-rocks commented on #1810
You also need this:
```--rpc-cors all```

[2022-09-13 19:09] #1810 closed

[2022-09-14 08:53] PPianAIC opened #1811 "failed to run custom build command"
What do I need to do
[root@ip-172-31-20-247 moonbeam]# cargo build --release
   Compiling libp2p-core v0.34.0
   Compiling libp2p-noise v0.37.0
   Compiling libp2p-kad v0.38.0
   Compiling sc-network-light v0.10.0-dev (https://github.com/purestake/substrate?branch=moonbeam-polkadot-v0.9.26#c674000c)
   Compiling sc-network-sync v0.10.0-dev (https://github.com/purestake/substrate?branch=moonbeam-po

[2022-09-14 12:34] crystalin commented on #1811
Try to follow https://docs.substrate.io/install/ to have all the required dependencies for substrate.
Let me know if this works

[2022-09-15 13:26] #1804 closed

[2022-09-15 13:29] #1775 closed

[2022-09-15 14:43] librelois opened #1814 "Update substrate/polkadot/cumulus from v0.9.26 to v0.9.29"
# Description

This ticket is automatically generated using

[code]

## substrate (2022-08-03 -> 2022-09-07)

https://github.com/paritytech/substrate/compare/polkadot-v0.9.26...polkadot-v0.9.29
[code]

## polkadot (2022-07-13 -> 2022-09-12)

https://github.com/paritytech/polkadot/compare/release-v0.9.26...release-v0.9.29
[code]

## cumulus (2022-07-16 -> 2022-09-15)

https://github.com/paritytech/

[2022-09-22 16:03] github-actions[bot] opened #1829 "client v0.26.1 release"
- [x] Merge #1830 on `master`
  - [x] cherry-pick #1830 on `perm-v0.26.1`
  - [x] Get that PR approved and merged
  - [x] Tag `perm-v0.26.1` with v0.26.1 and push to github
  - [x] Start the github action Publish Binary Draft with v0.26.0 => v0.26.1
  (master branch)
  - [x] Review the generated Draft and clean a bit the messages if needed (keep it draft)
  - [x] Update moonbeam-networks stagenet

[2022-09-22 20:11] #1829 closed

[2022-09-26 05:01] avtishin opened #1832 "Nominators amount issue"
Hello,

I extracted staking information data from polkadot.js using the following code:

[code]

I expected to see the list of nominations with the amount of nominations. However, for some nominations, there is 0 in the nomination amount. Could you clarify this issue? The problem is that 0 nomination amount is not correct because the sum of all nomination amounts + collator self-bond is not equal

[2022-09-26 12:26] crystalin commented on #1832
@4meta5 Can you get a look at this issue please ?

[2022-09-27 15:09] 4meta5 commented on #1832
The 0 nominations in AtStake were introduced in https://github.com/PureStake/moonbeam/pull/1408 to NOT count the pending bond_less and revoke delegations. So the AtStake doesn't always match CandidateState because the CandidateState counts all delegations while AtStake only snapshots the counted delegations. You can expect AtStake to replace every delegation for which there is a revoke request wit

[2022-09-27 17:35] yrong opened #1835 "Is mintable-xc20 able to transfer back?"
did some test with a local network setup including moonbase-local and our chain(another parachain),  transfer local asset like `POOP` in moonbeam to our chain works as expected with `xTokens`. But when transfer it back , error raised in moonbeam side like this:

[code]

not sure really work or some config error in my setup, hope someone can help to confirm

[2022-09-27 17:38] yrong commented on #1835
https://github.com/PureStake/moonbeam/blob/f93c75d5df7b0d54395b4d7f5772568fb51f3f00/runtime/moonbase/src/xcm_config.rs#L282-L291

seems `Trader` here only covers native asset and foreigner asset but missing local asset, right?

[2022-09-27 17:58] girazoki commented on #1835
Yes, you need to send the native token alongside the local asset

[2022-09-27 17:59] #1835 closed

[2022-09-28 09:08] Dinonard opened #1836 "XcmTransactor - transact_through_signed OriginKind"
Hello,

I've been working on integrating remote transactions between different parachains (Astar & Crust team in this case) and we had some issues regarding how `Transact` instruction is constructed (or interpreted by destination chain). I've been told that it works with Moonriver/Moonbeam so I checked the code and noticed this part [here](https://github.com/PureStake/moonbeam/blob/master/pallets/

[2022-09-28 09:52] girazoki commented on #1836
Hi Dino, thanks for looking at this.

In fact this extrinsic can be used by anyone but we append a DescendOrigin before it. That means that the transact will be executed by the descended origin, and not by the main sovereign account here.

By definition I think sovereign account refers to any account a consensus system controls on another consensus system. We always use the term sovereign to refer

[2022-09-28 09:54] girazoki commented on #1836
in any case, this extrinsic is filtered in moonriver and moonbeam, and only possible to execute in moonbase.

- https://github.com/PureStake/moonbeam/blob/f93c75d5df7b0d54395b4d7f5772568fb51f3f00/runtime/moonbeam/src/lib.rs#L970

-https://github.com/PureStake/moonbeam/blob/f93c75d5df7b0d54395b4d7f5772568fb51f3f00/runtime/moonriver/src/lib.rs#L977

[2022-09-28 10:04] girazoki commented on #1836
This being said, I am still not 100% clear on the definitions of OriginKind. We can change to it Native, but I am not sure this is correct either. From the definition in the code, here is what I see:
[code]

Since it says this is the signed origin, I thought this would be the way to go

[2022-09-28 10:44] Dinonard commented on #1836
Hey girazoki, thanks for the prompt reply :slightly_smiling_face:

Thanks for the info, didn't check if you filtered the call or not before.
We have just `send` from the `polkadot-xcm` pallet exposed but it's not filtered. Perhaps it should be (for non-root at least), will look into it.

Regarding my question, my understanding is like this:

`OriginKind` instructs the destination chain executing `

[2022-09-28 11:00] girazoki commented on #1836
I dont understand it this way. "SovereignKind" origin for me means just a signed origin whose control is on a remote parachain.

You can take a look at this: https://github.com/paritytech/polkadot/blob/53cd9a61b0738a8123a39aaddba4fb04530f8866/xcm/xcm-builder/src/origin_conversion.rs#L27

`SovereignKind` only grants access to use a particular account as a SignedOrigin. But this SignedOrigin shouldn

[2022-09-28 11:44] girazoki commented on #1836
Yeah I am still not 100% clear on the native purpose. Perhaps one thing we can do, since this seems chain-specific is let the user choose the originKind. That way it can work for everybody

[2022-09-28 11:44] #1836 closed

[2022-10-02 06:16] avtishin commented on #1832
@4meta5 Thank you for your answer, it clarifies my questions. However, I cannot find `CandidateState` in the pallet. Can you explain how to use `CandidateState`? Thanks!

[2022-10-02 20:14] 4meta5 commented on #1832
@avtishin The map is `CandidateInfo`, this is what I meant to say instead of `CandidateState`: https://github.com/PureStake/moonbeam/blob/master/pallets/parachain-staking/src/lib.rs#L488-L492

[2022-10-10 13:48] github-actions[bot] opened #1858 "runtime-1900 release"
## Requirements

- [x] Merge #1822
- [x] Merge #1828
- [x] Merge #1853
- [x] Merge #1854
- [x] Merge #1838
- [x] Merge #1877
- [x] Merge #1876
- [x] Merge #1879
- [x] Merge #1878
- [x] Merge #1881
- [x] Merge #1882
- [x] Upgrade frontier to cherry-pick https://github.com/paritytech/frontier/pull/865

## Pre-Release
- [x] Cleanup previous migrations (
  https://github.com/PureStake/moonbeam/blob/ma

[2022-10-10 13:48] github-actions[bot] opened #1859 "client v0.27.0 release"
- [x] Tag runtime-1900
  - [x] Merge #1862
  - [x] Merge #1891
  - [x] Tag master with v0.27.0 and push to github
  - [x] Start the github action Publish Binary Draft with v0.26.0 => v0.27.0
  (master branch)
  - [x] Review the generated Draft and clean a bit the messages if needed (keep it draft)
  - [x] Update moonbeam-networks stagenet (moonsama/moonlama) config.json to include sha-xxxxx
  (mat

[2022-10-11 10:15] frenkyoptic opened #1860 "eth_call stateDiff override set not working"
According to docs
https://geth.ethereum.org/docs/rpc/ns-eth
eth_call  supports third object as an argument with State override set

Object - State override set

But it is not working in Moonbeam

$ node state-override/allowance-erc20.js
Allowance of from -> to without stateDiff 0xfffffffffffffffffffffffffffffffffffffffffffffff2646758aa7802d13a
Allowance of from -> to *with* stateDiff  0xffffffffff

[2022-10-11 17:02] notlesh commented on #1814
Closing as #1825 was merged.

[2022-10-12 00:55] AaronKutch opened #1863 "supporting `eth_getBlockByNumber` with "finalized" parameter"
After Ethereum's move to proof-of-stake I have been updating our bridge to use `eth_getBlockByNumber` with the "finalized" parameter instead of the "latest" parameter with a delay so that only the latest finalized blocks are used. It is _extremely_ important that our bridge relays information that has no or astronomically small chance of being reorganized. I see that moonbeam has a custom [finalit

[2022-10-12 01:20] AaronKutch commented on #1863
whoops, should have looked a little deeper, found [a finality endpoint](https://docs.moonbeam.network/builders/build/moonbeam-custom-api/#finality-rpc-endpoints) and [this](https://docs.moonbeam.network/builders/get-started/eth-compare/consensus-finality/). However, we like to keep our bridge dependencies as uniform across chains as possible, so can the "finalized" parameter be supported, which wi

[2022-10-12 20:59] bralgei opened #1864 "Error for executeDelegationRequest when unstaking GLMR"
Hi there. I am Bralgei aka Gabriel Pesa. I have a problem with unstaking a stake for GLMR on https://apps.moonbeam.network/moonbeam/staking  I tried many thing but not successful. I tried to moonscan and they can do nothing. Now I try here in hope for help. It is said that you are the moonbeam team?  I can not unstake one and safe transfer the tokens in Metamask. When I execute the revoke, I get a

[2022-10-13 07:07] tgmichel commented on #1863
This was introduced in https://github.com/paritytech/frontier/pull/853 and will be included in Moonbeam's next client release.

[2022-10-13 07:07] #1863 closed

[2022-10-13 13:27] fxgamundi commented on #1864
Hi! That account (0x0000000000000000000000000000000000000800) is the [official smart contract](https://docs.moonbeam.network/builders/pallets-precompiles/precompiles/staking/) for interacting with the staking module.
So you can trust that transaction.

[2022-10-13 15:22] bralgei commented on #1864
Thank you. All good.

[2022-10-13 15:23] bralgei commented on #1864
Thank you. all good

On Thu, Oct 13, 2022 at 4:27 PM Francisco Gamundi ***@***.***>
wrote:

--
Gabriel Pesa
Nutritionist - N.D. (Advance nutrition, Anti-aging and Biohacking)
_____________
www.thotnutrition.com
www.gabrielpesa.com
www.ioshield.eu

[2022-10-13 15:45] #1864 closed

[2022-10-14 02:03] AaronKutch commented on #1863
I used the most recent docker release and am getting responses. However, when I run a `--dev` net the finalization does not seem to advance past block 0 no matter how many blocks are sealed.

[2022-10-17 18:24] 4meta5 opened #1874 "Update substrate/polkadot from v0.9.29 to v0.9.30"
# Description

- [ ] update this ticket with cumulus/nimbus once they have 9.30 branch

This ticket is automatically generated using

[code]

## substrate (2022-09-28 -> 2022-10-06)

https://github.com/paritytech/substrate/compare/polkadot-v0.9.29...polkadot-v0.9.30
[code]

## polkadot (2022-09-12 -> 2022-10-06)

https://github.com/paritytech/polkadot/compare/release-v0.9.29...release-v0.9.30
[cod

[2022-10-21 13:15] James8T opened #1887 "Moonbeam has to take responsability to have chosen alone NOMAD"
Moonbeam team decided alone, without any governance vote to elect Nomad bridge, paying users to use Nomad bridge.

Many solutions exist among others:

Use the treasury of Nomad Company (Nomad raised 22,4M$ in April 2022).
Use Moonbeam treasury.
Negociate with some Mad assets holders to write-off their debt for Nomad Equity & future $Nomad governance token. For exemple for ETHmad holders who would

[2022-10-21 15:11] crystalin commented on #1887
@James8T
I'm going to delete the other comments you wrote on the commits and other repos related to moonbeam.
We will reply to your comment here

[2022-10-26 14:09] github-actions[bot] opened #1901 "runtime-1901 release"
## Requirements
- [x] Merge #1900 on master

## Pre-Release
- [x] Create branch `perm-runtime-1901`
- [x] Bump spec version to 1901
- [x] Cherry-pick #1900 on `perm-runtime-1901`

## Release
- [x] Tag `perm-runtime-1901` with runtime-1901 and push to github
- [x] Start the github action Publish Runtime Draft
with runtime-1900 => runtime-1901
- [x] Review the generated Draft and clean a bit the mes

[2022-10-27 13:22] #1858 closed

[2022-10-27 14:15] #1901 closed

[2022-10-27 14:55] #1859 closed

[2022-10-27 14:55] github-actions[bot] opened #1911 "client v0.27.0 release"
- [x] Tag `perm-v0.27.1` with v0.27.1 and push to github
  - [x] Start the github action Publish Binary Draft with v0.27.0 => v0.27.1
  (master branch)
  - [x] Review the generated Draft and clean a bit the messages if needed (keep it draft)
  - [x] Update moonbeam-networks stagenet (moonsama/moonlama) config.json to include sha-xxxxx
  (matching your v0.27.1 tag) and increase the config version +

[2022-10-27 20:28] 4meta5 commented on #1832
Closing due to inactivity. Feel free to reopen or keep asking questions if you need help :)

[2022-10-27 20:28] #1832 closed

[2022-10-28 11:09] Sunilam88 opened #1916 "Web3"

[2022-10-30 14:09] atenjin opened #1917 "Question: way the calls in pallet-parachain-staking need the `count`?"
when I reading the code for the `pallet-parachain-staking`, I'm very confused for way the operation calls for the candidate should provide the `count` like:

the call `join_candidates`, it need the candidate user to provide the `candidate_count`.
https://github.com/PureStake/moonbeam/blob/e332702ed0426aef440eacfc4db27db3736eee88/pallets/parachain-staking/src/lib.rs#L910-L925

the call `schedule_le

[2022-10-30 20:03] wploplin opened #1918 "Error synchronising alphanet from genesis"
Hello,

I can't manage to synchronize from genesis on 0.27.1

Environment : alphanet

Steps to reproduce : new node, with agressive pruning and keepblock (1000)

Expected Result : should synchronise till last block

Actual Result : at some point chain will stale ( ie 817105 for example)

Visual Proof (screenshots, videos, text) : see attachment

Severity/Priority : high?

Attach an extract from th

[2022-10-30 21:37] crystalin commented on #1918
Thius should have been solved with v0.27.1, looking into it.
I need to sync to be able to reprod

[2022-10-31 01:53] crystalin commented on #1918
The block `0x627eef41dc86edf09b1cd5ca8dee492edc874e8a825b414d292d2932c8d5a049` [polkadotjs](https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Fwss.api.moonbase.moonbeam.network#/explorer/query/0x627eef41dc86edf09b1cd5ca8dee492edc874e8a825b414d292d2932c8d5a049) matches `817106`.
It contains `crowdloanRewards.changeAssociationWithRelayKeys` which uses ed25519, with an invalid signature. The extrinsic is

[2022-10-31 02:16] AsceticBear commented on #1917
I think the design goal here is a more accurate dispatch call weight, and you can see this value used in.

[code]

[2022-10-31 06:07] wploplin commented on #1918
Here the parameters :

[Unit]
Description="Moonbase Alpha systemd service"
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=moonbase_service
SyslogIdentifier=moonbase
SyslogFacility=local7
KillSignal=SIGHUP
ExecStart=/var/lib/alphanet-data/moonbeam-skylake \
     --validator \
     --port 30333 \
     --rpc-port 9933 \
     --ws-port 9944 \

[2022-10-31 07:24] atenjin commented on #1917
I do not agree with this... The weight to measure the value is based on the write and read for the storage plus the calculation cost. However the storage which is related to the `count` is just a `Vec`, which means the logic just read one storage. Though if the `Vec` is larger later, but at the weight part it just a little change. So I do not think let the `count` to join the calculate for the wei

[2022-10-31 08:56] jimmychu0807-altresearch commented on #1917
hmmm... I think what AsceticBear said is right, looking at the weight functions of [`join_candidate`](https://github.com/PureStake/moonbeam/blob/e332702ed0/pallets/parachain-staking/src/weights.rs#L184-L190) and [`execute_leave_candidates`](https://github.com/PureStake/moonbeam/blob/e332702ed0/pallets/parachain-staking/src/weights.rs#L211-L219), each additional candidate `count` value has a signif

[2022-10-31 13:50] crystalin commented on #1918
I'm trying to sync with those values to see if I can get the same result.
Trying the failing extrinsic locally in `--dev` doesn't show any panicking.

[2022-11-01 13:47] github-actions[bot] opened #1920 "client v0.27.2 release"
- [ ] Create a PR that update the launch.ts configuration (to add client conf for this version)
  - [ ] Get that PR approved and merged
  - [ ] Tag master with v0.27.2 and push to github
  - [ ] Start the github action Publish Binary Draft with v0.27.1 => v0.27.2
  (master branch)
  - [ ] Review the generated Draft and clean a bit the messages if needed (keep it draft)
  - [ ] Update moonbeam-netw

[2022-11-01 18:49] crystalin commented on #1918
We've prepared a new client to solve this issue. It will be released tomorrow

[2022-11-02 00:32] Staking7pc commented on #1918
Just adding to it facing similar issues in moonriver with 0.27.1 client

[2022-11-03 09:01] amani1104 commented on #1918
Also adding to it. I'm seeing exactly the same issue on Moonbeam with v0.27.1.

[2022-11-03 12:41] #1911 closed

[2022-11-03 14:27] dbpatty opened #1928 "Panic error updating to the 0.27.1"
🔨 Running Frontier DB migration from version 1 to version 2. Please wait.
Nov 03 14:08:02 monster1 moonriver[3710270]: ====================
Nov 03 14:08:02 monster1 moonriver[3710270]: Version: 0.27.1-527c6965414
Nov 03 14:08:02 monster1 moonriver[3710270]:    0: sp_panic_handler::set::{{closure}}
Nov 03 14:08:02 monster1 moonriver[3710270]:    1: std::panicking::rust_panic_with_hook
Nov 03 14:08:

[2022-11-03 14:32] dbpatty commented on #1928
I use Skylake version

[2022-11-03 14:39] girazoki commented on #1928
Can you print the log` Failed on...`

[2022-11-03 14:48] dbpatty commented on #1928
: Thread 'main' panicked at 'Inconsistent migration from version 1 to 2. Failed on [0x0006f48834de1348c4d7e34835f0c6f4e8491384532dc8432b57699adaf51dc5, 0x0056b220e0cf1fbd6ef66fcd8cfdae1481508fa1b27996530cff842f317b2c76, 0x008704f1783dcbfd229cbac66edb446f4e62bc5e395deefa9e721fac8b95cc09, 0x00bf90d70cf7bce1f45e3d147c585d70787a997b195f8046d27cd300604464f4, 0x00cfa385a0654a3d50869a45b3ed61360ac6393716

[2022-11-03 14:50] dbpatty commented on #1928
I  deleted the db and frontier directories to resync the node, it's synching, I'm searching for a snapshot fo the new db version

[2022-11-03 14:51] crystalin commented on #1928
@dbpatty please use v0.27.2 for syncing.
Also did you have any pruning set up before ? (`--keep-blocks` or `--pruning`) ?

[2022-11-03 14:54] dbpatty commented on #1928
I tryed the v0.27.2 before the resync and I use the pruning paramater

[2022-11-03 15:20] crystalin commented on #1928
Yes, the migration is not working properly with pruning.
For the v0.27.2 it is needed for syncing, to avoid block import issue and to avoid having the migration to be done after

[2022-11-03 15:20] #1928 closed

[2022-11-07 00:29] 4meta5 commented on #1917
@atenjin This is how substrate weight hints are supposed to work. The user must provide them because looking them up in storage at runtime would incur an additional cost and the weight for the call must be computed without doing that lookup. The call fails as you noted if the weight hint is incorrect, but the hint still needs to be passed as input so that the weight estimate doesn't have to be loo

[2022-11-07 15:38] atenjin commented on #1917
I see... But I still think it's not useful... The more cast for weight is read/write times for different state storage, for now the `count` just presents the Vec length, and the length in your logic is limit by the const value `MaxXXX`... The effect from the "one storage with different length" VS "read/write different storage" is very different. The prev one is more small, and the later one is the

[2022-11-07 16:14] 4meta5 commented on #1917
Are you looking at the benchmarking code? The benchmarks show that the measured cost of these extrinsics depends directly on the number of delegations for the given candidate and/or delegator. Using the max for all operations would overcharge most users for most operations.

I'm really trying to understand your perspective. I think you're confusing an upper bound on the cost with charging an accur

[2022-11-09 14:41] #1917 closed

[2022-11-10 16:20] github-actions[bot] opened #1942 "Update substrate/polkadot/cumulus from v0.9.29 to v0.9.31"
# Description

This ticket is automatically generated using

[code]

## substrate (2022-09-28 -> 2022-10-26)

https://github.com/paritytech/substrate/compare/polkadot-v0.9.29...polkadot-v0.9.31
[code]

## polkadot (2022-09-12 -> 2022-10-30)

https://github.com/paritytech/polkadot/compare/release-v0.9.29...release-v0.9.31
[code]

## cumulus (2022-09-21 -> 2022-11-09)

https://github.com/paritytech/

[2022-11-10 16:33] #1874 closed

[2022-11-10 17:23] packetstracer opened #1944 "crash on orbiter node with v0.27.2"
Our node crashed suddenly after running for several hours after version update to v0.27.2

Node logs

[code]

Startup command
[code]

[2022-11-10 17:27] packetstracer commented on #1944
we've observed that happened also with other versions, so not related to latest version.

Trying with other server.

[2022-11-10 18:24] bkchr commented on #1944
@crystalin try cargo update -p yamux. That should fix it

[2022-11-15 07:07] Jinsipang opened #1950 "Parachain-staking benchmarks code related questions"
Hi moonbeam team!
I'm having some problems executing parachain-staking benchmarks code, hope you can help.

1.  when executing `cargo test -p pallet-parachain-staking --features runtime-benchmarks` command ,the terminal returned some errors
[code]
2. It takes too long to generate a weight file via parachain-staking benchmarks code.
[code]
It took too long to execute the benchmark code, I guess it

[2022-11-15 08:54] Jinsipang commented on #1950
thanks

[2022-11-15 10:03] #1950 closed

[2022-11-15 10:05] Jinsipang commented on #1950
Thank you for your help. When I generate a weight file through benchmark code, the terminal keeps refreshing the

[code]
 Is this normal? Is there a way to avoid flushing this log all the time? Looking forward to your reply

[2022-11-15 10:14] Jinsipang commented on #1950
@nbaztec @girazoki   Sorry for taking up your time, running the ` cargo test -p pallet-parachain-staking --features runtime-benchmarks` command on the modified code will still generate an error, maybe you need to re-check the parachain-staking benchmark code

[code]

[2022-11-15 10:24] nbaztec commented on #1950
I'll take a look. Thanks for informing.

[2022-11-15 12:58] nbaztec commented on #1950
Hi @Jinsipang these logs are actually normal logs emitted from the runtime to bring to attention an important event. But perhaps they should be marked as debug, since they are the intended behavior. This would unfortunately, be fixed in the next runtime.

[2022-11-16 01:32] Jinsipang commented on #1950
Thank you for your reply, I hope this information can help you fix the problem in your project

[2022-11-16 14:22] notlesh commented on #1950
The reference hardware is significantly slower than your machine, by the way. So expect it to take quite some time in either case. I think it takes around 1 hour for a full "production" run for us.

However, you can run a much quicker version (at the expense of accuracy) by using something like `--steps 2 --repeat 2`.

[2022-11-18 02:10] Jinsipang commented on #1950
@notlesh Thanks for your reply ,the actual operation takes much more time than this. I tried to run a complete parachain-staking benchmark code before, which took more than 4 hours. Now I am trying to optimize this part The code, try to improve the running time without affecting the benchmark results.
Also as you said changing the parameters of the run (`--steps 2 --repeat 5`.), this is not accura

[2022-11-18 16:37] RomarQ commented on #152
@crystalin
This issue has been closed as completed but I do not see where it is implemented. Can you give any update about this feature?

[2022-11-21 03:40] AsceticBear commented on #1633
@nanocryk Hi, any process about this? The latest procedural-macro implementation is fantastic.

[2022-11-23 10:23] github-actions[bot] opened #1965 "Update substrate/polkadot/cumulus from v0.9.29 to v0.9.32"
# Description

This ticket is automatically generated using

[code]

## substrate (2022-09-28 -> 2022-11-10)

https://github.com/paritytech/substrate/compare/polkadot-v0.9.29...polkadot-v0.9.32
[code]

## polkadot (2022-09-12 -> 2022-11-08)

https://github.com/paritytech/polkadot/compare/release-v0.9.29...release-v0.9.32
[code]

## cumulus (2022-09-21 -> 2022-11-10)

https://github.com/paritytech/

[2022-11-23 10:29] girazoki commented on #1942
Close in favour of https://github.com/PureStake/moonbeam/issues/1965

[2022-11-23 10:29] #1942 closed

[2022-11-28 19:52] github-actions[bot] opened #1972 "runtime-2000 release"
## Requirements
- [x] Merge #1976
- [x] Merge #1978

## Pre-Release
- [x] Cleanup previous migrations (
  https://github.com/PureStake/moonbeam/blob/master/runtime/common/src/migrations.rs)

## Release
- [x] Tag master with runtime-2000 and push to github
- [x] Start the github action Publish Runtime Draft
with runtime-1901 => runtime-2000
- [x] Review the generated Draft and clean a bit the messa